<h1>Custom Vehicles</h1>

<div class="custom-vehicles">
  <div class="row">
    <div class="vehicle">
      <img src="/images/vehicles/batmobile.jpg">
      <h2>Batmobile</h2>
      <p>Price: $100,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/dog-car.jpg">
      <h2>Dog Car</h2>
      <p>Price: $150,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/survan.jpg">
      <h2>Survan</h2>
      <p>Price: $120,000</p>
    </div>
  </div>
  <div class="row">
    <div class="vehicle">
        <img src="/images/vehicles/aerocar.jpg">
      <h2>Aero Car</h2>
      <p>Price: $180,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/monster-truck.jpg">
      <h2>Monster Truck</h2>
      <p>Price: $130,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/wrangler.jpg">
      <h2>  </h2>
      <p>Price: $160,000</p>
    </div>
  </div>
</div>