<h1><strong>Welcome to CSE Motors!</strong></h1>
<img id="main" src="/images/vehicles/delorean.jpg" alt="Image Description">
<p id="delorean"><strong>DMC Delorean </strong><br>3 Cup holders <br>Superman doors <br>Fuzzy dice <br><button id="button"><strong>Own today!</strong></button></p>
<div class="grid-container">
    <section id="Upgrades">
        <h2><strong>Delorean Upgrades</strong></h2>
        <div class="upgrade-row">
          <div class="upgrade-item">
            <img src="images/Upgrades/bumper_sticker.jpg" alt="">
            <a href="#" class="upgrade-link">Bumper Sticker</a>
          </div>
          <div class="upgrade-item">
            <img src="images/Upgrades/flame.jpg" alt="">
            <a href="#" class="upgrade-link">Flame</a>
          </div>
        </div>
        <div class="upgrade-row">
          <div class="upgrade-item">
            <img src="images/Upgrades/flux-cap.png" alt="">
            <a href="#" class="upgrade-link">Flux Cap</a>
          </div>
          <div class="upgrade-item">
            <img src="images/Upgrades/hub-cap.jpg" alt="">
            <a href="#" class="upgrade-link">Hub Cap</a>
          </div>
        </div>
      </section>
    <section id="reviews">
      <h2><strong>DMC Delorean Reviews</strong></h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"The feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
  </div>

  

 