<h1>Sedan Vehicles</h1>

<div class="custom-vehicles">
  <div class="row">
    <div class="vehicle">
      <img src="/images/vehicles/adventador.jpg">
      <h2>Adventador</h2>
      <p>Price: $120,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/crwn-vic.jpg">
      <h2>Crown Vic</h2>
      <p>Price: $15,000</p>
    </div>
   
  
</div>