<h1>Sport Vehicles</h1>

<div class="custom-vehicles">
  <div class="row">
    <div class="vehicle">
      <img src="/images/vehicles/adventador.jpg">
      <h2>Adventador</h2>
      <p>Price: $120,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/crwn-vic.jpg">
      <h2>Crown Vic</h2>
      <p>Price: $15,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/escalade.jpg">
      <h2>Escalade</h2>
      <p>Price: $160,000</p>
    </div>
  </div>
  <div class="row">
    <div class="vehicle">
        <img src="/images/vehicles/camaro.jpg">
      <h2>Camaro</h2>
      <p>Price: $180,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/model-t.jpg">
      <h2>Model T</h2>
      <p>Price: $13,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/wrangler.jpg">
      <h2>  Wrangler</h2>
      <p>Price: $160,000</p>
    </div>
  </div>
</div>