<h1>SUV Vehicles</h1>

<div class="suv-vehicles">
  <div class="row">
    <div class="vehicle">
      <img src="/images/vehicles/camaro.jpg">
      <h2>Camaro</h2>
      <p>Price: $120,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/dog-car-tn.jpg">
      <h2>Dog Car-tn</h2>
      <p>Price: $50,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/adventador.jpg">
      <h2>Adventador</h2>
      <p>Price: $12,000</p>
    </div>
  </div>
  <div class="row">
    <div class="vehicle">
        <img src="/images/vehicles/survan-tn.jpg">
      <h2>Survan-tn</h2>
      <p>Price: $10,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/delorean.jpg">
      <h2>Delorean</h2>
      <p>Price: $13,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/escalade.jpg">
      <h2>  Escalade</h2>
      <p>Price: $160,000</p>
    </div>
  </div>
</div>