<h1>Truck Vehicles</h1>

<div class="suv-vehicles">
  <div class="row">
    <div class="vehicle">
      <img src="/images/vehicles/fire-truck.jpg">
      <h2>Fire Truck</h2>
      <p>Price: $120,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/fire-truck-tn.jpg">
        <h2>Fire Truck</h2>
      <p>Price: $50,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/monster-truck.jpg">
      <h2>Monster Truck</h2>
      <p>Price: $12,000</p>
    </div>
  </div>
  <div class="row">
    <div class="vehicle">
        <img src="/images/vehicles/monster-truck-tn.jpg">
      <h2>Monster Truck</h2>
      <p>Price: $10,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/mystery-van.jpg">
      <h2>Mystery Van</h2>
      <p>Price: $13,000</p>
    </div>
    <div class="vehicle">
        <img src="/images/vehicles/hummer.jpg">
      <h2>  Hummer</h2>
      <p>Price: $160,000</p>
    </div>
  </div>
</div>