/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px;
 
}

.siteName {
  margin-right: auto;
  text-decoration: none;
}

#tools {
  margin-left: auto;
}

img {
  display: block;
  margin:100px;
  margin-top: 70px; /* Adjust the value as needed */
}

 #delorean{
  margin-bottom: 90px;
  color: rgb(2, 160, 160);
}

#button {
  background-color: aqua;
}

#delorean {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align:center;
  background-color: rgba(255, 255, 255, 0.7); /* white with 70% opacity */
}

#button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px; /* Gap between the columns */
}

#Upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.upgrade-row {
  display: flex;
}

.upgrade-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upgrade-link {
  margin-top: 5px;
  text-align: center;
}

.custom-vehicles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.vehicle {
  width: calc(33.33% - 10px);
  text-align: center;
}

.vehicle img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.vehicle h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.vehicle p {
  font-size: 16px;
  color: #240101;
}


